<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Ricardo M. Martins">
  <title>{{ page.title }} — Prof. Ricardo Miranda Martins</title>

  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- MathJax -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=default"></script>
</head>

<body>

<header>
  <h1 class="titulo-responsivo">Prof. Ricardo Miranda Martins</h1>
  <nav>
    <p style="font-family:monospace; font-size: 1.1em;">
      <a href="/">main</a> |
      <a href="/publications">research & publications</a> |
      <a href="/teaching">teaching</a> |
      <a href="/students">students</a>
    </p>
  </nav>
</header>

<main>
  {{ content }}
</main>

</body>
</html>
